*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.al-center{
  align-items: center;
}

.just-betwen{
  justify-content: space-between;
}

.hover{
  cursor: pointer;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.avatar{
  width: 60px;
  margin: 0 15px;
  border-radius: 50%;
}

.bottom .avatar{
  margin: 15px;
}

main{
  height: 100vh;
  background: linear-gradient(to bottom, #009688 15%, #D8DBD6 15%);
  display: flex;
  align-items: center;
}

.dark-mode{
  background: linear-gradient(to bottom, #005d54 15%, black 15%);
}

.my-container{
  width: 90%;
  max-width: 1310px;
  height: 95vh;
  margin: 0 auto;
}

.top{
  height: 10%;
  width: 100%;
  background-color: #EAEAEA;
}

.dark-mode .top{
  background-color: #2C2C2C;
}

.bottom{
  width: 100%;
  height: 90%;
}

.sinistra{
  width: 370px;
  height: 100%;
}

.sinistra-top{
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #d7d7d7;
}

.dark-mode .sinistra-top{
  border-color: #202020;
}

.user-menu{
  font-size: 1.6rem;
  padding-right: 25px;
  width: 140px;
  justify-content: flex-end;
}

.user-menu  i{
  padding-left: 10px;
  color: #B1B1B1;
}

.dark-mode .user-menu i{
  color: white;
}

.destra{
  width: calc(100% - 370px);
  height: 100%;
}

.destra-top{
  justify-content: space-between;
  align-items: center;
}

.top .info-avatar{
  padding-left: 20px;
}

.info-avatar .name{
  font-size: 1.3rem;
  font-weight: bold;
}

.dark-mode .info-avatar .name{
  color: white;
}

.last-acces{
  font-weight: bold;
  color: #6C7477;
}

.dark-mode .last-acces{
  color: #adadad;
}

.bottom .last-acces{
  font-size: .9rem;
  color: #B1B1B1;
  padding-right: 15px;
  padding-top: 15px;
}

.info-avatar .last-message{
  font-weight: bold;
  color: #b1b1b1;
  font-size: .9rem;
}

.notifiche{
  width: 100%;
  height: 11%;
  background-color: #8EDAFC;
}

.dark-mode .notifiche{
  background-color: #447b95;
}

.ricevi-notifiche{
  font-size: 1.1rem;
  font-weight: bold;
}

.attiva-notifiche a{
  color: #588396;
  font-weight: bold;
}

.dark-mode .attiva-notifiche a{
  color: #88bad0;
}

.silenzioso{
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #F2FBFF;
  margin: 0 15px;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #8EDAFC;
}

.dark-mode .silenzioso{
  background-color: #2C2C2C;
  color: #447b95;
}

.search-chat{
  width: 100%;
  height: 7%;
  background-color: #f3f2f2;
}

.dark-mode .search-chat{
  background-color: #202020;
}

.search-chat .search{
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  width: 95%;
}

.dark-mode .search-chat .search{
  background-color: #2C2C2C;
}

.search .lente{
  width: 15%;
  justify-content: center;
}

.search i{
  color: #B1B1B1;
}

.dark-mode .search i{
  color: white;
}

.scrivi i{
  color: #6B7376;
  font-size: 1.6rem;
  padding: 0 40px;
}

.dark-mode .scrivi i{
  color: white;
}

input{
  width: 85%;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: #c7c7c7;
  font-family: 'Lato', sans-serif;
  padding: 10px 0;
  border-radius: 5px;
}

.dark-mode input{
  background-color: #2C2C2C;
}

.scrivi input{
  padding: 0 20px;
  height: 80%;
  font-size: 1.2rem;
  font-weight: normal;
  color: #A4A4A4;
}

.list-chat{
  width: 100%;
  height: 82%;
  overflow-y: scroll;
  background-color: white;
}

.dark-mode .list-chat{
  background-color: #2c2c2c;
}

.list-chat .chat-avatar:first-child{
  border-top: 1px solid #e9e9e9;
}

.dark-mode .list-chat .chat-avatar{
  border-color: #202020;
}

.list-chat .chat-avatar{
  border-bottom: 1px solid #e9e9e9;
}

.chat{
  height: 90%;
  overflow-y: scroll;
  background-image: url(../img/mine.jpg);
  justify-content: center;
}

.dark-mode .chat{
  filter:invert(100%)
}

.chat-message{
  width: 100%;
  max-width: 725px;
  flex-wrap: wrap;
  margin: 50px 10px;
}

.my-row{
  width: 100%;
}

.message{
  width: 70%;
  max-width: 435px;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  font-weight: bold;
  margin: 5px 0;
  padding-bottom: 30px;
}

.dark-mode .message{
  color: white;
  filter: invert(100%);
}

.my-message{
  justify-content: flex-end;
}

.my-message .message{
  background-color: #D5F9BA;
}

.dark-mode .my-message .message{
  background-color: #005d54;
}

.avatar-message .message{
  background-color: white;
}

.dark-mode .avatar-message .message{
  background-color: #2C2C2C;
}

.fa-chevron-down{
  color: #B1B1B1;
  padding: 2px;
}

.message-option{
  display: flex;
  position: absolute;
  top: 35px;
  right: 15px;
  background-color: white;
  z-index: 999;
  box-shadow: 0px 0px 15px gray;
  flex-direction: column;
  padding: 15px;
}

.dark-mode .message-option{
  background-color: #202020;
}

.message-option span{
  margin: 5px 0;
  cursor: pointer;
}

.message .last-acces{
  position: absolute;
  bottom: 5px;
  right: -8px;
}

.scrivi{
  width: 100%;
  height: 10%;
  background-color: #F3EEEA;
}

.dark-mode .scrivi{
  background-color: #202020;
}

.user-selected{
  background-color: #F3EEEA;
}

.dark-mode .user-selected{
  background-color: #202020;
}

.my-w-1{
  width: 40px;
}

.text-color-input{
  color: black !important;
}

.dark-mode .text-color-input{
  color: white !important;
}

.user-message-preview-dim{
  max-height: 20px;
  width: 170px;
}

.hover-option{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.hover-option:hover{
  background-color: rgb(214, 214, 214);
}

.dark-mode .hover-option:hover{
  background-color: #3a3a3a;
}

.info-message{
  background-color: #8EDAFC;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.dark-mode .info-message{
  background-color: #2C2C2C;
  color: white;
}

#dark-teme2{
  display: none;
  font-size: 1.5rem;
  padding-right: 15px;
  color: #B1B1B1;
}

.dark-mode #dark-teme2{
  color: white;
}

.option-arrow{
  display: none;
}

.message:hover .option-arrow{
  display: block;
}

@media screen and (max-width: 992px){
  .my-container{
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .top .avatar{
    margin-left: 20px;
  }

  .sinistra{
    width: 110px;
  }

  .notifiche{
    display: none !important;
  }

  .search-chat{
    display: none !important;
  }

  .my-menu{
    display: none !important;
  }

  .list-chat{
    height: 100%;
  }

  .list-chat .chat-avatar .info-avatar,.list-chat .chat-avatar .last-acces{
    display: none !important;
  }

  .destra{
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 542px){
  .sinistra{
    display: none !important;
  }

  .destra{
    width: 100%;
  }

  .avatar-menu{
    display: none !important;
  }

  .destra .scrivi{
    justify-content: center;
  }

  .destra .scrivi input{
    width: 95%;
  }

  .destra .scrivi i{
    display: none !important;
  }

  #dark-teme2{
    display: block;
  }
}